task = train
boosting_type = gbdt
objective = binary
metric = auc
is_training_metric = true
num_leaves = 31
min_data_in_leaf = 50000
bagging_fraction = 0.7
subsample_freq = 1
feature_fraction = 0.9
scale_pos_weight = 200
num_boost_round = 1500
early_stopping_round = 20
learning_rate = 0.04
num_threads = 4
two_round = true
save_binary = false

header = true
label = name:is_attributed
ignore_column = name:day,ip,app_device_os_nclick,channel_device_os_nclick,channel_hour_nclick,device_os_hour_nclick,device_os_nclick,device_os_app_nuniqhour,device_os_channel_nuniqhour,device_os_nuniqhour,device_os_app_nuniqip,device_os_nuniqip,device_os_channel_nuniqip,device_os_channel_varhour,device_os_app_varhour,device_os_varhour,last_app_device_os_channel,last_app_device_os,last_channel_device_os,last_device_os,next_app_device_os_channel,next_app_device_os,next_channel_device_os,next_device_os
categorical_feature = name:app,device,os,channel,hour
