task = train
boosting_type = gbdt
objective = binary
metric = auc
is_training_metric = true
num_leaves = 31
min_data_in_leaf = 50000
bagging_fraction = 0.7
subsample_freq = 1
feature_fraction = 0.9
scale_pos_weight = 200
num_boost_round = 1500
early_stopping_round = 20
learning_rate = 0.04
num_threads = 4
two_round = true
save_binary = false

header = true
label = name:is_attributed
ignore_column = name:day,ip,ip_app_nclick,ip_app_os_nclick,ip_app_os_device_nclick,ip_channel_nclick,ip_hour_day_nclick,ip_day_nuniqhour,ip_device_os_nuniqapp,ip_nuniqapp,ip_nuniqchannel,ip_nuniqdevice,app_nuniqchannel,ip_app_channel_varhour,ip_app_os_varhour,ip_day_channel_varhour,ip_app_channel_avghour,last_ip,last_ip_channel,last_ip_app,next_ip,next_ip_channel,next_ip_app
categorical_feature = name:app,device,os,channel,hour
