task = train
boosting_type = gbdt
objective = binary
metric = auc
is_training_metric = true
num_leaves = 31
min_data_in_leaf = 50000
bagging_fraction = 0.7
subsample_freq = 1
feature_fraction = 0.9
scale_pos_weight = 200
num_boost_round = 1500
early_stopping_round = 20
learning_rate = 0.1
num_threads = 4
two_round = true
save_binary = false

header = true
label = name:is_attributed
ignore_column = name:day,ip
categorical_feature = name:app,device,os,channel,hour
